/* -----------------------------FONTES------------------------------ */

@font-face{
    font-family: Titulo;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}

/* -------------------------ESTILOS GERAIS-------------------------- */
body {
    background-color: #006400 /* #10742e */;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 7dvh;
    padding: 0 4vw;
    text-align: center;
    padding: 10px;
}

main {
    background-color: #FFFFFF;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

.container-fluid {
    background-image: url(../asset/img/LogoNutricionista.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%; /* Ajusta para 100% */
    min-height: 80dvh;
}

.container-fluid h1 {
    text-align: center;
}

.mainTop {
    padding-top: 2dvh;
    display: flex;
    justify-content: center;
    gap: 2dvw;
}

/* -------------------------ESTILOS DO MENU LATERAL-------------------------- */
#sidebar {
    width: 250px; /* Largura do menu expandido */
    transition: width 0.3s ease;
}

.sd-color-verde{
    background-color: #8FBC8F /* #0cb49e*/ !important;
}
.nav-link:hover{
    background-color: #5c965c !important;
}
.nomeUsuario{
    font-size: 1.5rem; 
    margin: 0; 
    color: #ffffff; 
    font-family: Titulo, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#sidebar.collapsed {
    width: 70px; /* Ajuste conforme necessário */
}

.SideBar {
    width: 4.5rem;
}

.SideBar.collapsed {
    width: 15rem;
}

#toggleSidebar {
    position: absolute;
    top: 80px;
    left: 235px; /* Ajuste conforme necessário */
    width: 30px;
    height: 30px;
    background-color: #005f15;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, left 0.3s ease;
}

#sidebar.collapsed #toggleSidebar {
    top: 80px;
    left: 55px; /* Ajuste conforme necessário */
    transform: rotate(180deg);
}

#sidebar.collapsed .menu-label {
    display: none;
}

#sidebar .menu-label {
    display: inline-block;
    margin-left: 10px;
    color: rgb(0, 0, 0); 
    font-size: 1.2rem; 
    font-weight: 600;
    transition: opacity 0.3s ease;
}

/* -------------------------ESTILOS DE ÍCONES E BOTÕES-------------------------- */
.iconeMenu {
    cursor: pointer;
    max-width: 2.6dvw;
}

.ancoraLogout {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* -------------------------ESTILOS DE CONTEÚDO-------------------------- */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.cardsCalendario {
    display: flex;
    gap: 2dvw;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
}

.card {
    padding: 0.5dvw;
    min-width: 250px; /* Define a largura mínima do card */
    margin-right: 15px;
    flex: 0 0 auto;
}
.AgConsulta{
    cursor: pointer;
}
.card h1{
    font-family: Titulo, sans-serif;
    font-size: 1.5rem;
}

.row-C {
    justify-content: center;
}

.cardDia,
.nUtil,
.cardHoje {
    margin-top: 3dvh;
    margin-bottom: 3dvh;
    height: 8rem;
    min-width: 10rem;
    max-width: auto;
    cursor: pointer;
    border-style: solid;
    border-width: 0.18rem;
    border-radius: 16px;
}

.cardDia {
    background-color: #45836c9d;
    border-color: black;
}

.nUtil {
    background-color: #921c1cc0;
    border-color: black;
}

.cardHoje {
    background-color: #002fff70;
    border-color: rgb(38, 0, 255);
}

.qntdPacientes {
    padding: 0;
    text-align: center;
    align-items: center;
    font-size: 3rem;
}

.dia {
    font-size: 1.5rem;
}

.btn-add {
    background-color: #32a57b;
    border-color: transparent;
    margin-bottom: 1dvw !important;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.headInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3dvh;
}

.headInfo h1 {
    max-width: 30rem;
}

.infoPacientes {
    display: flex;
    justify-content: space-evenly;
}

.infoPacientes h4 {
    margin-top: 1.7dvh;
}

.dropdown {
    margin-left: 1.5dvw;
}

.aFoto {
    color: rgb(85, 85, 85);
    text-align: center;
}

/* -------------------------ESTILOS DE MODAL-------------------------- */
.modal-dialog {
    max-width: 800px; /* Define um tamanho máximo para o modal */
    text-align: center;
}

.modal-body {
    max-height: 500px; /* Limita a altura do conteúdo do modal */
    overflow-y: auto; /* Adiciona uma barra de rolagem se necessário */
}

#imageContainer {
    max-width: 100%; /* O contêiner da imagem deve se ajustar ao modal */
    max-height: 400px; /* Define a altura máxima para a área de recorte */
    overflow: hidden; /* Oculta o que ultrapassar do contêiner */
    margin-top: 10px;
}

#imagePreview {
    width: 100%; /* Ajusta a largura da imagem para ocupar todo o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Ajusta a imagem dentro do contêiner */
}

.container-pA {
    max-width: 80%;
}

.drop {
    display: flex;
}

.dropdown-item {
    font-weight: 500;
}

.gapBtn {
    gap: 0.4dvh;
}

/* -------------------------ESTILOS RESPONSIVOS-------------------------- */
@media (max-width: 768px) {

    .col h1 { 
        font-size: 1rem;
    }

    .cardDia {
        height: 3rem;
        min-width: 1rem;
        max-width: auto;
    }                                                                                                                                                                                                                                                                                                                      
    .dia {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 500;
    }

    tbody td {
        font-size: 0.85rem;
    }

    .btn-add {
        max-width: 30dvw;
    }

    .headInfo {
        flex-direction: column;
    }

    .card {
        width: 10rem !important;
    }

    .drop {
        justify-content: center;
    }

}

/* -------------------------CORES DE ELEMENTOS-------------------------- */
/* BOTOES */
.btn-verde {
    background-color: #009c63;
    font-weight: 600;
}

.btn-verde:hover {
    background-color: #017a4e !important;
}

.btn-verde.show {
    background-color: #46af89 !important;
}

.btn-laranja {
    background-color: #fc952e !important;
}

.btn-laranja.show {
    background-color: #eb8d30 !important;
}

/* DROPS */
.drop-verde {
    background-color: #389474fd;
}

.drop-laranja {
    background-color: #d67616 !important;
}

/* DROPS ITENS */
.di-verde:hover {
    background-color: #28d699fd; 
}

.di-laranja:hover {
    background-color: #df9347; 
}
